name: Build

on:
  push:
    branches: [ main ]

jobs:
  lint:
    uses: ./.github/workflows/python-lint.yml
  coverage:
    uses: ./.github/workflows/coverage.yml
  tests:
    needs: [ lint ]
    uses: ./.github/workflows/python-package.yml
